################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/08_AuthSystem/obj/Debug/net8.0/refint/08_AuthSystem.dll
/08_AuthSystem/obj/Debug/net8.0/apphost.exe
/08_AuthSystem/obj/Debug/net8.0/08_AuthSystem.sourcelink.json
/08_AuthSystem/obj/Debug/net8.0/ref/08_AuthSystem.dll
/08_AuthSystem/obj/Debug/net8.0/08_AuthSystem.AssemblyInfo.cs
/08_AuthSystem/obj/Debug/net8.0/08_AuthSystem.AssemblyInfoInputs.cache
/08_AuthSystem/obj/Debug/net8.0/08_AuthSystem.dll
/08_AuthSystem/obj/Debug/net8.0/08_AuthSystem.pdb
/08_AuthSystem.sln
/.editorconfig
/08_AuthSystem/bin/Debug/net8.0/08_AuthSystem.dll
/08_AuthSystem/bin/Debug/net8.0/08_AuthSystem.pdb
